@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900");
/* ===========================
COLORS
=========================== */
/* Commons styles */
:root {
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased; }

html {
  box-sizing: border-box;
  overflow-x: hidden; }

body {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

ul,
li {
  margin: 0;
  padding: 0; }

.link,
.link-title {
  cursor: pointer;
  text-decoration: none; }

.link {
  color: #F06373; }

.link-title {
  color: inherit; }

.link:hover,
.link-title:hover {
  text-decoration: underline; }

.header, .category, .slideshowContainer, .favorite {
  width: 1170px;
  margin: 0 auto; }

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 2.4375rem; }

.header-burgerMenu,
.header-searchLogo {
  display: none; }

.signIn,
.signUp {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: #F06373;
  font-size: 1.25rem;
  cursor: pointer; }

.signIn {
  font-weight: 600; }

.signUp {
  font-weight: 900;
  margin-left: 1.75rem; }

.signIn:hover,
.signUp:hover {
  text-decoration: underline; }

.title-h1 {
  font-weight: 600;
  font-size: 2.5625rem; }

.title-h1--testsPage {
  font-weight: 700;
  font-size: 2.3125rem;
  color: #17B3B4; }

.title-h1--productPage {
  font-weight: 600;
  font-size: 2.3125rem; }

.title-h2 {
  font-weight: 600;
  font-size: 2rem; }

.title-h3 {
  font-weight: 700;
  font-size: 1.8125rem; }

.title-h4 {
  font-weight: 600;
  font-size: 1.5625rem; }

.title-h5 {
  font-weight: 700;
  font-size: 1.375rem; }

.title-h6 {
  font-weight: 700;
  font-size: 1.1875rem;
  color: #797979; }

/****************************
 HIGH PPI DISPLAY BACKGROUNDS
*****************************/
.search {
  text-align: center;
  background-image: url("../images/@1x/img_header.png");
  background-position: top center;
  background-repeat: no-repeat; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .search {
      background-image: url("../images/@2X/img_header@2x.png");
      background-size: 1920px 342px; } }

.search-title,
.search-subtitle {
  color: #fff;
  text-shadow: 0 0 19px #4d7989; }

.search-title {
  font-size: 2.625rem;
  font-weight: 700;
  width: 53.3125rem;
  margin: 0 auto;
  padding: 2.625rem 0 0;
  line-height: 1.0714285714285714; }

.search-subtitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.6875rem 0 0;
  line-height: 1.875; }

.search-formContainer {
  display: flex;
  flex-wrap: wrap;
  width: 30.1875rem;
  margin: 0 auto;
  padding: 0 0 2.625rem; }

.search-form {
  margin: 1.1875rem 0 0;
  display: flex;
  justify-content: center; }

.search-input--text {
  height: 59px;
  width: 413px;
  border: none;
  border-radius: .2rem 0 0 .2rem;
  font-size: 1.125rem;
  font-weight: 700;
  color: #A4A4A4;
  padding: 0.75rem 0 1rem 1.1875rem;
  outline: none; }

.search-buttonContainer {
  display: flex; }

.search-button-valid {
  width: 4.3125rem;
  border: none;
  color: #fff;
  background: #F06373 url("../images/svg/ic_loupe.svg") center center no-repeat;
  cursor: pointer;
  border-radius: 0 .2rem .2rem 0; }

.search-examples {
  font-size: 0.875rem;
  font-weight: 900;
  line-height: 2.2;
  color: #fff;
  text-shadow: 0 0 2px rgba(42, 146, 176, 0.5); }

.breadcrumb {
  font-family: "Muli", sans-serif;
  font-weight: 600;
  font-size: 1.3125rem; }

.category {
  margin-top: 3.5rem; }

.category-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline; }

.category-header-title {
  font-size: 2rem;
  font-weight: 600;
  margin: 0; }

.category-header-subtitle {
  font-size: 1rem;
  font-weight: 600; }

.slideshowContainer {
  position: relative; }

.slideshow {
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.slideshow-itemContainer {
  display: flex;
  transition: all .5s ease-in-out; }

.slideshow-item {
  flex-shrink: 0;
  border: 1px solid #E8E8E8;
  width: 35.625rem;
  height: 15.25rem;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.slideshow-item + .slideshow-item {
  margin-left: 1.875rem; }

.slideshowItem-reviews {
  align-self: stretch;
  margin: 1.875rem 0 0;
  width: 25rem; }

.reviews-score-item {
  margin-right: 0.375rem; }

.reviews-reviewer {
  margin: 0.5625rem 0 0;
  font-size: 1.0625rem;
  font-weight: 600;
  color: #858585; }

.reviews-product {
  margin: 1.125rem 0 0;
  font-size: 1.3125rem;
  font-weight: 600; }

.reviews-descriptive {
  font-size: 1.0625rem;
  font-weight: 600;
  line-height: 1.5;
  color: #797979; }

.slideshow-arrow--next,
.slideshow-arrow--prev {
  position: absolute;
  top: 6.7rem;
  border: solid #000;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 13px;
  cursor: pointer; }

.slideshow-arrow--next:hover,
.slideshow-arrow--prev:hover {
  border-color: #D9D9D9; }

.slideshow-arrow--next {
  right: -2.3rem;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg); }

.slideshow-arrow--prev {
  left: -2.3rem;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg); }

.slideshow-button--hidden {
  display: none; }

/****************************
 HIGH PPI DISPLAY BACKGROUNDS
*****************************/
.favorite-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none; }

.favorite-item {
  border: 1px solid #E5E5E5;
  margin-bottom: 1.875rem;
  border-radius: .2rem; }

.favorite-item-link {
  width: 23.125rem;
  height: 11.625rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: inherit;
  text-decoration: none; }

.favorite-item:hover {
  border: 1px solid #858585; }

.favorite-item--food {
  background-image: url("../images/@1x/img_categorie_alimentation.png");
  background-position: left bottom;
  background-repeat: no-repeat; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .favorite-item--food {
      background-image: url("../images/@2X/img_categorie_alimentation@2x.png");
      background-size: 150px 171px; } }

.favorite-item--leash {
  background-image: url("../images/@1x/img_categorie_laisses.png");
  background-position: left bottom;
  background-repeat: no-repeat; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .favorite-item--leash {
      background-image: url("../images/@2X/img_categorie_laisses@2x.png");
      background-size: 179px 171px; } }

.favorite-item--litter {
  background-image: url("../images/@1x/img_categorie_maison.png");
  background-position: left bottom;
  background-repeat: no-repeat; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .favorite-item--litter {
      background-image: url("../images/@2X/img_categorie_maison@2x.png");
      background-size: 180px 178px; } }

.favorite-item--sleeping {
  background-image: url("../images/@1x/img_categorie_couchages.png");
  background-position: left bottom;
  background-repeat: no-repeat; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .favorite-item--sleeping {
      background-image: url("../images/@2X/img_categorie_couchages@2x.png");
      background-size: 213px 173px; } }

.favorite-item--door {
  background-image: url("../images/@1x/img_categorie_portes.png");
  background-position: left bottom;
  background-repeat: no-repeat; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .favorite-item--door {
      background-image: url("../images/@2X/img_categorie_portes@2x.png");
      background-size: 203px 183px; } }

.favorite-item--treats {
  background-image: url("../images/@1x/img_categorie_friandises.png");
  background-position: left bottom;
  background-repeat: no-repeat; }
  @media all and (-webkit-min-device-pixel-ratio: 1.5), all and (-o-min-device-pixel-ratio: 3 / 2), all and (min--moz-device-pixel-ratio: 1.5), all and (min-device-pixel-ratio: 1.5) {
    .favorite-item--treats {
      background-image: url("../images/@2X/img_categorie_friandises@2x.png");
      background-size: 193px 160px; } }

.favorite-title {
  font-size: 1.25rem;
  width: 10.9375rem;
  font-weight: 700;
  margin-right: 0.9375rem; }

.footer {
  background-image: linear-gradient(to left, #82d5ef, #57b8bb 100%);
  text-align: center;
  color: #fff;
  padding: 2.625rem 0 4.3125rem; }

.footer-title {
  font-size: 1.3125rem;
  font-weight: 700; }

.footer-subtitle {
  font-size: 1.4375rem;
  font-weight: 700;
  line-height: 2;
  margin: 0; }

.footer-copyright {
  font-size: 0.875rem;
  font-weight: 700;
  margin: 0; }

.footer-socialNetwork {
  margin: 2.25rem 0 2.4375rem; }

.footer-socialNetwork--facebook {
  margin-right: 1.6875rem; }

.footer-links {
  list-style: none;
  display: flex;
  justify-content: center;
  font-size: 0.8125rem;
  font-weight: 700;
  margin: 0; }

.footer-listItem:not(:first-child) {
  padding-left: 0.5rem; }

.footer-listItem:not(:first-child):before {
  content: "-";
  margin-right: 0.5rem; }

@media only screen and (max-width: 600px) {
  .search,
  .header-connection,
  .slideshow-arrow--next {
    display: none; }
  .header, .category, .slideshowContainer, .favorite,
  .category,
  .slideshowContainer,
  .favorite,
  .footer {
    width: 100%; }
  .header-section {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #D9D9D9;
    padding: 0.9375rem 0; }
  .header-burgerMenu,
  .header-searchLogo {
    display: block; }
  .category--reviews {
    padding: 2.0625rem 0.8125rem 0.6875rem 1.25rem;
    margin: 0; }
  .category--favorite {
    padding: 3.125rem 0.8125rem 0.6875rem 1.25rem;
    margin: 0; }
  .category-header-title {
    font-size: 1.125rem; }
  .slideshowContainer,
  .favorite-items {
    padding: 0 1.25rem; }
  .slideshow,
  .favorite {
    overflow-x: auto; }
  .slideshow-item {
    width: 13.1875rem;
    height: auto;
    display: block;
    text-align: center;
    padding: 1.6875rem 0; }
  .slideshowItem-logo {
    display: block;
    height: 9.375rem;
    position: relative; }
  .slideshowItem-logo img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; }
  .slideshowItem-reviews {
    width: 100%;
    margin: 0.5625rem 0 0; }
  .reviews-score-item img {
    width: 0.75rem; }
  .reviews-reviewer {
    font-size: 0.75rem;
    margin-top: 0.8125rem; }
  .reviews-product {
    font-size: 1.125rem;
    margin-top: 0.9375rem; }
  .reviews-descriptive {
    font-size: 0.875rem;
    padding: 0.25rem 2rem;
    overflow: hidden;
    position: relative;
    max-height: 6em; }
  .reviews-descriptive:before {
    content: '...';
    position: absolute;
    right: 1.9375rem;
    bottom: -0.25rem; }
  .favorite-items {
    flex-wrap: nowrap; }
  .favorite-item {
    flex-shrink: 0;
    background-size: contain;
    margin-right: 1.3125rem; }
  .favorite-item-link {
    width: 22.0625rem;
    height: 7.3125rem; }
  .footer {
    padding: 1.25rem 0; }
  .footer-title,
  .footer-subtitle {
    font-size: 0.875rem; }
  .footer-subtitle {
    padding-top: 1rem; }
  .footer-socialNetwork {
    margin: 1.6875rem 0 1.3125rem; }
  .footer-links {
    flex-wrap: wrap;
    padding: 0 1.25rem; }
  .footer-listItem.footer-listItem--contactUs:before {
    content: ""; } }
