/* ===========================
COLORS
=========================== */

$color-dark : #383838;
$color-main : #484848;
$color-grey--darker : #858585;
$color-grey--dark : #C6C6C6;
$color-grey--medium : #D9D9D9;
$color-grey--light : #F6F6F6;
$color-grey--title: #797979;
$color-grey-placeholder : #A4A4A4;
$color-orange : #F2B743;
$color-pink : #F06373;
$color-turquoise : #17B3B4;
$color-white : #fff;
