@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800,900');

$font-muli: 'Muli', sans-serif;

$font-light: 300;
$font-regular: 400;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;
$font-black: 900;
