.header {
  width: 1170px;
  margin: 0 auto;
}

.header-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 (39 / 16) * 1rem;
}

.header-burgerMenu,
.header-searchLogo {
  display: none;
}

.signIn,
.signUp {
  appearance: none;
  border: none;
  background: none;
  padding: 0;
  color: $color-pink;
  font-size: (20 / 16) * 1rem;
  cursor: pointer;
}

.signIn {
  font-weight: $font-semi-bold;
}

.signUp {
  font-weight: $font-black;
  margin-left: (28 / 16) * 1rem;
}

.signIn:hover,
.signUp:hover {
  text-decoration: underline;
}

.title-h1 {
  font-weight: $font-semi-bold;
  font-size: (41 / 16) * 1rem;
}

.title-h1--testsPage {
  font-weight: $font-bold;
  font-size: (37 / 16) * 1rem;
  color: $color-turquoise;
}

.title-h1--productPage {
  font-weight: $font-semi-bold;
  font-size: (37 / 16) * 1rem;
}

.title-h2 {
  font-weight: $font-semi-bold;
  font-size: (32 / 16) * 1rem;
}

.title-h3 {
  font-weight: $font-bold;
  font-size: (29 / 16) * 1rem;
}

.title-h4 {
  font-weight: $font-semi-bold;
  font-size: (25 / 16) * 1rem;
}

.title-h5 {
  font-weight: $font-bold;
  font-size: (22 / 16) * 1rem;
}

.title-h6 {
  font-weight: $font-bold;
  font-size: (19 / 16) * 1rem;
  color: $color-grey--title;
}
