@import "_googlefont";
@import "_colors";

/* Commons styles */

:root {
  font-family: $font-muli;
  -webkit-font-smoothing: antialiased;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.link,
.link-title {
  cursor: pointer;
  text-decoration: none;
}

.link {
  color: $color-pink;
}

.link-title {
  color: inherit;
}

.link:hover,
.link-title:hover {
  text-decoration: underline;
}

@import "_header";
@import "_search";
@import "_breadcrumb";
@import "_category";
@import "_slideshow";
@import "_favorite";
@import "_footer";
