@import "_googlefont";
@import "_colors";
@import "_breadcrumb";
@import "_header";

/* Commons styles */

:root {
  font-family: $font-muli;
}

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.link {
  color: $color-pink;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.link-title {
  color: $color-main;
}
